<div class="box" style="margin-left: 0%;margin-right: 0%;">

  <div style="margin-right: 20px" class="history-container">
    <io-tree-history style="height: 80%" [style.width]="'35%'" [svgIconSize]="200" [rootRenderer]="rootRenderer()">
    </io-tree-history>
    </div>
  <div style="width:40%; justify-content: center; border-left: 50px; padding-right: 200px" >
    <app-grid ></app-grid>
  </div>
  <div>
    <button mat-button (click)="openDialog()">
    <img src="assets/ranking.svg" style="width:80px;height:80px;">
    </button>

    <div>
      <p [(ngModel)]='this.gameService.player.score' name="scoreintra" ngDefaultControl >score : </p>
      {{this.scoreintra}}
    </div>

    <form class="input-form">
      <mat-form-field style="width: 100%;">
        <mat-label>Changer de nom</mat-label>
        <input matInput #playerName (change)="this.gameService.currentGame.player.setName(playerName.value)" autocomplete="off" >
      </mat-form-field>

    </form>
    <p>Ton nom actuel : {{this.gameService.currentGame.player.getName()}}</p>
  </div>




</div>




