@font-face {
  font-family: Bodo;
  src: url("../assets/BodoAmat.ttf");
}

* {
  font-family: Bodo;
}
.container {
  /* Center child horizontally*/
  display: flex;
  justify-content: center;
}

.child {
  background-color: red;
  /* Center horizontally*/
  margin: 0 auto;
}