<header>
  <mat-toolbar>
    <div class="test-spacer">
      <p>Sudoku</p>
    </div>
    <div class="test-spacer">
      <button style="border: none;background-color: Transparent;background-repeat:no-repeat;overflow:hidden;outline: none;" mat-raised-button (click)="openDialog()">Go Back To Menu</button>
<!--      <a routerLink="/menu">Go Back To Menu</a>-->
    </div>

  </mat-toolbar>
</header>


  <router-outlet></router-outlet>
<!--  <app-game></app-game>-->

<!--<app-menu></app-menu>-->

<!--



  <app-menu></app-menu>-->
<!--  <app-classement></app-classement>-->
