@font-face {
  font-family: Bodo;
  src: url("../assets/BodoAmat.ttf");
}

* {
  font-family: Bodo;
}
.container {
  /* Center child horizontally*/
  display: flex;
  justify-content: center;
}

.child {
  background-color: red;
  /* Center horizontally*/
  margin: 0 auto;
}

.example-spacer {
  flex: 1 1 auto;
}

.test-spacer{
  margin-right: 10px;
  margin-left: 10px;
}

a{
  text-decoration: none;
  color: black;
}
a:hover, a:active{
  color: gray;
}
.nav-caption{
  display: inline-block;
  padding-left: 6px;
}
