.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    background-color: black;
    padding: 1px;
    width: 100%;
    height:100%;

  }

  .grid-item {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    width : 100%;
    height:100%;
    font-size: 30px;
    text-align: center;
  }

.input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.grid-div{
  box-sizing: border-box;
  border: 5px solid black;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.menu-div{
  width:60%;
  height:100%;
  margin: auto;
  align-items: center;
  text-align: center;
}
