<div class="menu-div">
  <form class="input-form">
    <mat-form-field style="width: 100%;">
      <mat-label>Entre ton nom de tocard, tocard</mat-label>
      <input matInput #playerName (change)="setPlayer(playerName.value)" autocomplete="off" placeholder="Topin">
    </mat-form-field>

  </form>
  <p>Ton nom actuel : {{joueur.getName()}}</p>
  <mat-checkbox [(ngModel)]="IsChecked">Clique ici si t es un flemmard</mat-checkbox>

  <div class="grid-div">
    <button mat-button (click)="generateGrid()"><p style='display:inline-block' width="60%">Generate Random board</p>
    </button>
    <mat-form-field style="padding-left: 5%;">
      <mat-select [(value)]="choosedDifficulte" style="display: inline-block;text-align: center"
                  placeholder="Difficulté">
        <mat-option *ngFor="let difficult of difficultes" [value]="difficult">
          {{ difficult}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ul class="grid-list">
        <li *ngFor="let griddto of Allgrids">
          <a [routerLink]="['/game',griddto.id]" (click)="launchGame(griddto.id)">
            <div style="width:500px;height: 500px;">
              <div class="grid-container">
                <div class="grid-item" *ngFor="let n of fakeArray" [ngStyle]="{'background-color': 'white'}">
                  <div *ngIf="griddto.values[n].value"> {{griddto.values[n].value}} </div>

                </div>
              </div>

            </div>
            <p>{{griddto.difficulte.toLocaleString()}}</p>
          </a>

        </li>
    </ul>
  </div>

</div>
